::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.fc-novo-button {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.filtroresponsavel {
    width: 180px;
    position: fixed;
    top: -112px;
    left: 230px;
}

#calendar .fc-toolbar h2 {
    font-size: 20px;
}

.fc-time{
    color: #000000d0;
}
.fc-title{
    color: #000000d0;
}

.fc-day-number{
    color: #000;
    text-decoration: none;
}